body.stoped {
    overflow: hidden;
}
/* WHAT */
.what {
    width: 100%;
}
.what .inner {
    /* background: wheat; */
    display: flex;
    justify-content: center;
}
.what .inner .view {
    /* background: chartreuse; */
    width: 100%;
    border: solid 1px lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    padding: 70px 100px;
}
.what .inner .view .descr h2{
    color: black;
    font-size: 50px;
    margin-bottom: 25px;
}
.what .inner .view .descr p {
    color: black;
    font-size: 25px;
    line-height: 2rem;
    margin-bottom: 15px;
}
.what .inner .view .descr .btn {
    width: 150px;
}
/* Info-Draw */
.info-draw {
    width: 100%;
}
.info-draw .inner {

}
.info-draw .inner .view {
    border: solid 1px lightgray;
    margin: 15px;
    padding: 50px 100px;
}
.info-draw .inner .view h3 {
    color: black;
    font-size: 45px;
    margin-bottom: 25px;
}
.info-draw .inner .view .info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.info-draw .inner .view .info img {
    width: 100%;
    height: 100%;
}
.info-draw .inner .view p {
    margin-top: 5px;
    color: black;
    font-size: 25px;
    line-height: 2rem;
    margin-bottom: 15px;
}