.eventview .inner .eventbox {
    margin: 15px;
    border: solid 1px gray;
}
.eventview .inner .eventbox .blackboard{
    background: lightgreen;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    height: 50px;
}
.eventview .inner .eventbox #tablebox {
    display: flex;
    justify-content: center;
    table-layout: fixed;
}
.eventview .inner .eventbox #tablebox table {
    width: 100%;
    table-layout: fixed;
}
.eventview .inner .eventbox #tablebox table tr {
    border: solid 1px lightgray;
    border-collapse: separate;
}
.eventview .inner .eventbox #tablebox table tr td {
    border: solid 1px lightgray;
    border-collapse: separate;
    height: 70px;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
}
.eventview .inner .eventbox #tablebox table tr td.noUse {
    background: khaki;
    border-collapse: separate;
}
.eventview .inner .controlbox {
    border-top: solid 1px gray;
    border-collapse: separate;
    position: relative;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.eventview .inner .controlbox input {
    margin: 0 15px;
    width: 30px;
}
.eventview .inner .controlbox .btn {
    margin: 0 15px;
}